.content {
    margin-top: 80px;
}

.actions a:hover{
    text-decoration: none;
}

.delete-house-icon {
    color: red;
}

.delete-house-icon:hover {
    color: darkred;
}

.back-btn{
    display: inline-block;
    margin-bottom: 30px;
}
